@page
@model ContosoUniversity.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Программы тренировок";
}

<!-- <p>
    <a asp-page="Create">Create New</a>
</p> -->
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Клиент")
        </th>
        <th>
            @Html.DisplayName("Тренер")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.CourseID">Редактировать</a> |
            <a asp-page="./Delete" asp-route-id="@item.CourseID">Удалить</a>
        </td>
    </tr>
}
    </tbody>
</table>
