@page "{id:int}"
@model ContosoUniversity.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Удалить из базы данных этого клиента?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фамилия имя клиента")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
        <dt>
            @Html.DisplayName("Дата регистрации")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.EnrollmentDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
