@page
@model ContosoUniversity.Pages.Instructors.DeleteModel

@{
    ViewData["Title"] = "Удаление инструктора";
}

<h3>Удалить из базы данных этого инструткора?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фамилия")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.LastName)
        </dd>
        <dt>
            @Html.DisplayName("Имя")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayName("Дата регистрации")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor.HireDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Instructor.ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
